/*a bit of css here*/
body{
    background: firebrick;
}
h1 {
    background: blue;
    text-align: center;
}
nav{
    
    background: whitesmoke;

}
ul{
    display: flex;
}
li{
    list-style: none;
    display: inline;
    margin: 1rem;
    align-items: flex-end;
}
p{
    color: whitesmoke;
    background: black;
}

img {
    width: 30%;
}